In [3]:
import pandas as pd
import matplotlib.pyplot as pl

In [4]:
fruit_sales = pd. DataFrame ({'Apples': [35,41], 'Bananas': [41,34]})
print (fruit_sales)
fruits = pd. DataFrame ({'Apples': [30], 'Bananas': [21]})
print (fruits)

display (fruit_sales)
display (fruits)

   Apples  Bananas
0      35       41
1      41       34
   Apples  Bananas
0      30       21

   Apples  Bananas
0      35       41
1      41       34

   Apples  Bananas
0      30       21

In [5]:
from IPython.display import display, Markdown

display(Markdown("### Продажи за Январь")) # Выведет красивый жирный заголовок
display(fruit_sales)

display(Markdown("---")) # Выведет горизонтальную черту-разделитель

display(Markdown("### Продажи за Февраль"))
display(fruits)

# .style.background_gradient() заливает ячейки цветом в зависимости от значения
# cmap='Viridis' — это цветовая схема (от синего к желтому)
display(fruit_sales.style.background_gradient(cmap='Greens'))

### Продажи за Январь

   Apples  Bananas
0      35       41
1      41       34

---

### Продажи за Февраль

   Apples  Bananas
0      30       21

In [6]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("willianoliveiragibin/photosynthesis-rates")

print("Path to dataset files:", path)

ModuleNotFoundError: No module named 'kagglehub'